<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
  Y a rien pour le moment <BR>
        <input type="text" id="msg" v-model="unmessage">
        <BR>

        Voila ce que vous avez saisi: {{unmessage}}
        <BR>

        <UL>
            <li v-for="nomProfs in profs">
                Le nom est: {{nomProfs}}
            </li>
        </UL>

        <input type="text" id="idNomProfs" v-model="unprof">
        <BR>

        <button id="btn" @click="ajouterNom">
            Ajoutez un prof
        </button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
        el:'#root',
        data: {
            unmessage: 'Bienvenue dans ce cours PPE',
            profs: ['Roubeau','Vigny','Damico','Robert'],
            unprof: '',
        },
        mounted() {
       /*     document.querySelector("#btn").addEventListener('click',() => {
                let nomP = document.querySelector("#idNomProfs")
                app.profs.push(nomP.value)
            })*/
        },
        methods: {
            ajouterNom() {
                this.profs.push(this.unprof)
            }
        }
    })
</script>


</BODY>
</HTML>

